:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #DFDFDF;
  
  /* Font Weights */
  --weight-regular: 400;
  --weight-bold: 700;

  /* Design elements */
  --transition: 300ms ease-in-out;
  --transition-slow: 600ms ease-in-out;
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-weight: var(--weight-regular);
  font-family: 'DM Sans', sans-serif;
  background-color: var(--color-white);
}

button {
  border: none;  
  outline: none;
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.sr-only {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}

/* Type Specs */
.t-mobile-nav {
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  color: var(--color-black);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
}

.t-button {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: var(--weight-bold);
}

.t-heading {
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: .333rem;
  text-transform: uppercase;
  font-weight: var(--weight-bold);
}
@media (min-width: 768px) {
  .t-heading {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: .417rem;
  }
}

.t-body {
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 2.5rem;
  font-weight: var(--weight-regular);
}

.t-photoname,
.t-feature-heading {
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 2.5rem;
  font-weight: var(--weight-bold);
}

.t-photographer {
  font-size: 1.3rem;
  letter-spacing: 0;
  line-height: 1.7rem;
  font-weight: var(--weight-regular);
}

.t-top-nav,
.t-nav-footer,
.t-pickplan {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: var(--weight-bold);
}

.t-copyright {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0;
  font-weight: var(--weight-regular);
}

.t-subheading {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: var(--weight-bold);
}

.t-storyinfo {
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: var(--weight-regular);
}

.t-switcher {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: var(--weight-bold);
}

.t-option-heading {
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: var(--weight-bold);
}

.t-price {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .417rem;
  font-weight: var(--weight-bold);
}

.t-op5 {
  opacity: .50;
}

.t-op6 {
  opacity: .60;
}

.t-op75 {
  opacity: .75;
}

.t-white {
  color: var(--color-white);
}

.t-black {
  color: var(--color-black);
}

/* Buttons */
.button {
  display: inline-flex;
}

.button-cta:hover,
.button-cta--section:hover  {
  text-decoration: underline;
}

.button-cta,
.button-cta--section {
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 1.6rem;
  align-items: center;
  display: inline-flex;
  text-transform: uppercase;
  font-weight: var(--weight-bold);
}
@media (min-width: 700px) {
  .button-cta {
    width: 100%;
    max-width: 38.7rem;
  }
}

.button-cta::after,
.button-cta--section::after {
  content: '';
  width: 4.2rem;
  height: 1.2rem;
  background-size: cover;
  transition: var(--transition) margin-left;
}

.button-cta::after {
  margin-left: 1.6rem;
}

.button-cta--section::after {
  margin-left: 2.4rem;
}

.button-cta--white::after {
  background-image: url(/images/shared/desktop/arrow-white.svg);
}
.button-cta--black::after {
  background-image: url(/images/shared/desktop/arrow.svg);
}

.button-cta:hover::after {
  margin-left: .8rem;
}

.button-cta--section:hover::after {
  margin-left: 1.2rem;
}

.button--plan {
  width: 24.5rem;
  padding: 1.2rem 0;
  justify-content: center;
  transition: var(--transition) background-color, var(--transition) color;
}
@media (min-width: 768px) {
  .button--plan {
    width: 27rem;
  }
}

.button-white {
  background-color: var(--color-white);
}

.button-black {
  background-color: var(--color-black);
}

.button-white:hover,
.button-black:hover {
  color: var(--color-black);
  background-color: var(--color-gray);
}